<h1> Student Profile </h1>

<strong>Title: </strong><%= @product.title%>
<br />
<strong>Price: </strong><%= @product.price%>
<br>
<strong>Description: </strong><%= @product.description%>
<br>
<strong>Image: </strong><%= @product.img%>